@{
    ViewBag.Title = "Loja Geek";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Images/super-mario-odyssey.jpg" alt="Imagem do jogo Mário Odyssey" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Images/god-of-war-werah.jpg" alt="Imagem para o jogo God Of war 4" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Images/maxresdefault.jpg" alt="Imagem para o jogo Zelda Breath of the Wild" />
        </div>
    </div>
</div>
<hr />

<div class="row">
    @foreach (var item in ViewBag.produtos)
    {
        <div class="col-md-4">
            <h3>@item.Nome</h3>
            @if (@item.Foto != null)
            {
                <img src="#" alt="imagem do produto" />
            }
            else
            {
                <img src="~/Images/image-not-found.jpg" alt="Imagem não encontrada" height="200px" width="200px" />
            }
            <br />
            @Html.ActionLink("Detalhes", "Produto", new { id = item.Id})
            @using (Html.BeginForm("ColocarCarrinho", "Carrinho", FormMethod.Post))
            {
                <input type="hidden" name="id_produto" value=@item.Id>
                <input type="hidden" name="quantidade" value="1">
                <input type="submit" class="btn btn-md btn-primary btn-block" value="Enviar para o carrinho">
            }
        </div>
        
    }
</div>
