<ul class="nav navbar-nav">
    <li class="active">@Html.ActionLink(" ", "Index", "Home", new { @class = "glyphicon glyphicon-home" })</li>
    <li class="active">@Html.ActionLink("Produtos", "Index", "Produto")</li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Sair", "DeslogarCliente", "Cliente")</li>
</ul>



