@using LojaGeek.Model.Utils
<ul class="nav navbar-nav">
    <li><a href="#">@LoginUtils.Cliente.Nome</a></li>
    <li class="active">@Html.ActionLink(" ", "Index", "Home", null, new {@class= "glyphicon glyphicon-home" })</li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Sair", "DeslogarCliente", "Cliente")</li>
    <li class="pull-right">@Html.ActionLink(" ", "Index", "Carrinho",null , new { @class = "glyphicon glyphicon-shopping-cart" })</li>
</ul>