<ul class="nav navbar-nav">
    <li class="active">@Html.ActionLink(" ", "Index", "Home",null, new { @class = "glyphicon glyphicon-home" })</li>
    <li class="panel-info">@Html.ActionLink("Estoque", "Estoque", "Administrativo")</li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Sair", "DeslogarAdmin", "Administrativo")</li>
</ul>



